@use "variables";

$font-size-sm: variables.$base-font-size * 0.75;
$font-size-lg: variables.$base-font-size * 1.5;
$font-size-xl: variables.$base-font-size * 2;
$font-size-xxl: variables.$base-font-size * 3;
